.wrapper {
  height: 100%;

}

.button {
  cursor: pointer;
  background-color: #67777a;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  color: white;
  text-transform: uppercase;
  transition: ease-in .2s background-color;
  margin-top: 20px;
  border: none;
  outline: none;
}
.button:hover {
  background-color: #749096;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputIcon {
  margin-right: 6px;
}

.input {
  width: 300px;
}

.verifyPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
}