.table {
  border: 1px solid gray;
  margin: 10px 0;
  background-color: #394648;
  color: white;
}

.row {
  display: flex;
  border: 1px solid gray;
}

.item {
  text-align: center;
  padding: 10px 5px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}